<div *ngIf="id != 'undefined'; then worker else btnNewWorker"></div>

<ng-template #worker>
    <div class="resource" >
        <div class="worker">
            <div *ngIf="photo != 'undefined'; then hasPhoto else noPhoto"></div>
            <ng-template #hasPhoto>
                <img src={{photo}}/>
            </ng-template>

            <ng-template #noPhoto>
                <span>{{ name.substring(0, 1) }}</span>
            </ng-template>
        
            <div>
                <h4>{{ name }}</h4>
                <p>{{ charge }}</p>
            </div>
        </div>
        <div class="options">
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onCardClicked()">Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </div>
     </div>
</ng-template>

<ng-template #btnNewWorker>
    <button 
        class="btn-new-resource" 
        type="button" 
        (click)="onAddResource()">
        CLIQUE AQUI PARA SELECIONAR UM TRABALHADOR
    </button>
</ng-template>